<div class="container d-flex flex-column justify-content-center text-center">
  <h1 class="m-4">Download HiveTracks App from the App Stores</h1>
  <div class="row my-5 mx-1">
    <div class="col-sm-6 mb-5">
      <div>
        <%= link_to "https://apps.apple.com/app/hivetracks/id1667408004", class: "text-decoration-none d-block mb-5" do %>
          <%= image_tag "app_store.svg", class: "rounded p-2" %>
        <% end %>
        <%= image_tag "apple_app_store.png", width: 200, class: "rounded" %>
      </div>
    </div>
    <div class="col-sm-6 mb-5">
      <div>
        <%= link_to "https://play.google.com/store/apps/details?id=com.hivetracks.hivetracksapp", class: "text-decoration-none d-block mb-5" do  %>
          <%= image_tag "google_play_store_logo.png", width: 150, class: "rounded" %>
        <% end %>
        <%= image_tag "google_play_store.png", width: 200, class: "rounded"  %>
      </div>
    </div>
  </div>
</div>