<!DOCTYPE html>
<html>
  <head>
    <title>HiveTracks Linktree</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="#5f8264">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= render 'shared/ios_pwa_links' %>
    <link rel="manifest" href="<%= asset_path 'manifest.json' %>">
  </head>

  <style>
    body {
      /* HiveTracks Background Gradient */
      background: radial-gradient(50% 50.00% at 50.00% 50.00%, #5F8264 0%, rgba(15, 46, 51, 0.74) 100%), var(--ht-light-green, #5F8264);
      height: 100vh !important;
      }
  </style>

  <body>
    <%= render partial: 'layouts/navbar' if @should_render_navbar %>
    <%= render partial: 'layouts/alerts'  %>
    <%= yield %>
  </body>
</html>
